{% extends 'base.html' %} 
{% load omfilters %}

{% block titulo %}Meu Carrinho | {% endblock %}
{% block content %}
    {% if carrinho %}
        <div class="row">
            <div class="col-md-7">
                <h3 class="text-center">MEU CARRINHO</h3>
                <div class="shadow-lg p-2 mb-4 bg-white">
                    <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
                    {% include "parciais/_carrinho.html" %}
                </div>
            </div>

            <div class="col-md-5 ">
               
                <h3 class="text-center">RESUMO</h3>
                <div class="card shadow-lg p-2 mb-4 bg-white" style="width: 25rem;">
                    <div class="card-header font-weight-bold text-center">Resumo do Pedido</div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">SubTotal: {{carrinho|cart_totals|formata_preco}}</li>
                        <li class="list-group-item">Entrega: R$ 0,00</li>
                        <li class="list-group-item">Total: {{carrinho|cart_totals|formata_preco}}</li>
                    </ul>
                </div>
               
                    <span class="p-2">Compras acima de R$ 250,00 , <strong class="text-danger">Frete Grátis</strong></span>
                    <div class="input-group  p-2 m-0 bg-white">
                        <input type="text" class="form-control  " placeholder="digite seu CEP" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-info" type="button">Calcular</button>
                        </div>
                      </div>
                
                <div class="col m-0 p-0">
                   
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-sm btn-secondary " href="{% url "produto:lista" %}">Adicionar mais produtos </a>
                        <a class="btn btn-sm btn-primary" href="{% url "produto:resumodacompra" %}">FECHAR PEDIDO</a>
                    {% else %}
                        <a class="btn btn-sm btn-secondary" href="{% url "produto:lista" %}">Adicionar mais produtos </a>
                        <a class="btn btn-sm btn-primary" href="{% url "perfil:login" %}">Antes de Finalizar - Entrar/Cadastrar</a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    {% else %}
    <div class="row mt-3">
        <div class="col">
            <div class="d-flex justify-content-center">
                <i class="fas fa-shopping-cart text-secondary m-5" style="font-size: 5rem;"></i>
            </div>
    
            <h3 class="text-center text-muted m-2">SEU CARRINHO ESTÁ VAZIO</h3>
    
            <p class="lead text-center">Navegue agora pelas categorias de nossa loja e escolha os produtos desejados para adicionar em seu carrinho de compras!</p>
            <div class="d-flex justify-content-center">
                <a class="btn btn-lg btn-secondary mt-5" href="{% url "produto:lista" %}">CONTINUAR COMPRANDO</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
