{% extends 'base.html' %} {% load omfilters %}
{% block titulo %} Produto  |{% endblock %} 
{% block content %}



<div class="container">
  <div class="row">
  <div class="col-lg-12 ">
    <div class="card-columns">
      {% for produto in lista_produtos %}
      <div class=" card   shadow-lg p-0 mb-5 bg-white rounded "  style="width:200px">
        {% if produto.imagem %}
        <a href="{% url 'produto:detalhe' produto.slug %}">
  
         
          <img class="card-img-top "  title="{{produto.nome}}!" 
            src="{{ produto.imagem.url}}"
            alt="{{produto.nome}}"
            style=" hover-shadow height: 200px; width: 100%; display: block;"
          />
        
        </a>
        
        {% endif %}
        <div class="card-body p-1 center">
          <h6 class="card-title text-center">{{produto.nome}}</h6>
          <p class="text-sm">{{ produto.descricao_curta }}</p>
          <div class="container product-price-block text-center">
            {% if produto.preco_marketing_promocional %}
            <div class ='border-0 rounded'>
            <strong class=" btn btn-outline-danger btn-sm m-1 btn-block rounded-lg ">Black Friday </strong>
          </div>
            <span class="product-price">
              {{ produto.preco_marketing_promocional | formata_preco}}
            </span>
            <span class="product-old-price text-muted "
              >{{ produto.preco_marketing | formata_preco }}
            </span>
            {% else %}
            <span class="product-price">
              {{ produto.preco_marketing | formata_preco }}
            </span>
            {% endif %}
          </div>
        </div>
        <div
          class="card-footer bg-transparent border-light shadow-sm p-2 mb-1 text-center"
        >
          <a
            href="{% url 'produto:detalhe' produto.slug %}"
            class="btn btn-info btn-sm m-1 btn-block"
          >
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Adicionar ao carrrinho
          </a>
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col">{% include 'parciais/_pagination.html' %}</div>
</div>

{% endblock %}
