{% load static %}
{% load omfilters %}

<nav class="navbar navbar-dark bg-primary navbar-expand-sm shadow-lg p-1 mb-4 bg-primary rounded sticky-top  ">
  <a class="navbar-brand" href="{% url 'produto:lista' %}">AXO E-commerce</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mx-auto">
      <form class="form-inline ml-5" method="GET" action="{% url 'produto:busca' %}">
        <div class="input-group" style="width: 600px;">
          <input name="termo" value="{{ request.GET.termo }}" class="form-control col-sm-8" type="search" placeholder="O que você está procurando?" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-white border" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    

    <ul class="navbar-nav ">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown  p-2 mr-3">
            <a class="nav-link dropdown-toggle p-2 mb-2  text-white"href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="nav-cart-icon mr-1">
                  <i class="fas fa-user-check fa-sm"></i>
                  </span>
                  Bem Vindo, <strong>{{ request.user.first_name }}</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item " href="{% url 'pedido:listar' %}">Meus pedidos</a>
                <a class="dropdown-item " href="{% url 'perfil:criar' %}">Atualizar meus dados</a>
                <a class="dropdown-item " href="{% url 'perfil:logout' %}">Sair</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item dropdown  p-2 mr-3">
          <a class="nav-link dropdown-toggle p-2 mb-2  text-white"href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="nav-cart-icon mr-1">
                <i class="fas fa-user-check fa-sm"></i>
                </span>
                Bem Vindo, <strong>Visitante</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="{% url 'perfil:criar' %}">Cadastre - se </a>
              <a class="dropdown-item " href="{% url 'perfil:login' %}">Faça seu Login </a>
          </div>
      </li>
       
        {% endif %}
        
      {% if request.session.carrinho %}
      <li class="nav-item mr-5 p-2">
        <a class="nav-link nav-cart-link active p-2 mb-2  text-white" href="{% url 'produto:carrinho' %}">
          <span class="nav-cart-text mr-1">Carrinho</span>
          <span class="nav-cart-icon mr-0">
            <i class="fas fa-shopping-cart"></i>

          </span>
          <span class="nav-cart-count mr-1">
            <strong>{{ request.session.carrinho|cart_total_qtd }}x</strong>
          </span>
          
        </a>
      </li>
     {% endif %} 

    </ul>
   
  </div>
</nav>
