{% load static %}
{% load omfilters %}

<nav class="navbar navbar-dark bg-primary navbar-expand-sm shadow-lg p-1 mb-4 bg-info rounded sticky-top  ">
  <a class="navbar-brand" href="{% url 'produto:lista' %}">AXO E-commerce</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
  <div class="mx-auto"> <!-- Use a classe 'mx-auto' para centralizar horizontalmente -->
    <form class="form-inline m" method="GET" action="{% url 'produto:busca' %}">
      <input  name="termo" value="{{request.GET.termo }}" class= "form-control mr-sm-2 w-auto p-2 "type="search"  placeholder="Busca" aria-label="Search">
      <button class="btn btn-outline-dark my-5 my-sm-0 " type="submit">Busca</button>
    </form>
  </div>

    <ul class="navbar-nav ">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-2 mb-2 bg-info text-white"href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="nav-cart-icon mr-1">
                  <i class="fas fa-user-check fa-sm"></i>
                  </span>
                Minha Conta 
            </a>
            <div class="dropdown-menu shadow-lg p-2 mb-4 bg-ligth" aria-labelledby="navbarDropdown">
              <p class="dropdown-item  border-bottom border-info">Bem Vindo ,"{{ request.user.first_name }}"</p>
                <a class="dropdown-item " href="{% url 'pedido:listar' %}">Meus pedidos</a>
                <a class="dropdown-item " href="{% url 'perfil:criar' %}">Atualizar meus dados</a>
                <a class="dropdown-item " href="{% url 'perfil:logout' %}">Sair</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
             
            <a class="nav-link p-2 mb-2 bg-info text-white" href="{% url 'perfil:criar' %}">
              <span class="nav-cart-icon mr-1">
                <i class="fas fa-user"></i>
                </span>Entrar/Cadastrar</a>
        </li>
       
        {% endif %}
        
      {% if request.session.carrinho %}
      <li class="nav-item">
        <a class="nav-link nav-cart-link active p-2 mb-2 bg-info text-white" href="{% url 'produto:carrinho' %}">
          <span class="nav-cart-text mr-1">Carrinho</span>
          <span class="nav-cart-icon mr-0">
            <i class="fas fa-shopping-cart"></i>

          </span>
          <span class="nav-cart-count mr-1">
            <strong>{{ request.session.carrinho|cart_total_qtd }}x</strong>
          </span>
          
        </a>
      </li>
     {% endif %} 

    </ul>
   
  </div>
</nav>
